.App {
  text-align: center;
}
.Header {
  color:green;
  font-size: 3rem;
  text-shadow: 3px 3px 5px #fff;
}
/* write your parent styles in here for your App.js */
/* DID NOTHING IN HERE BESIDE CHANGE SIZE/FONT COLOR SINCE I COULDN'T GET MY CUSTOM LOGO TO WORK :( */